extends layout

block content
  h1= title
  - let results = thetacobell
  div(class="container-fuild")
    div(class="row")
      each item in results
       - let destination = `dispatch(\"/tacobell/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item is #{item.tacobell} with price is #{item.price} and quantity is #{item.quantity} </br>
         button.btn(class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }

