extends layout 
 
block content 
  h1= title
 
  if (toShow == null) 
    h2 No instance to display
  else 
    - let tacobellid = toShow._id 
    - let itemname = toShow.itemname 
    - let price = toShow.price
    - let quantity = toShow.quantity
  div 
    div.row 
      div(class='tacobellAttr mr-3') tacobell ID is: 
      div #{tacobellid} 
    div.row 
      div(class='tacobellAttr mr-3') tacobell type is: 
      div #{itemname} 
    div.row 
      div(class='tacobellAttr mr-3') tacobell price is: 
      div #{price} 
    div.row 
      div(class='tacobellAttr mr-3') tacobell quantity is: 
      div #{quantity}