extends layout 
 
block content 
  h1= title
 
  if (toShow == null) 
    h2 No instance to display
  else 
    - let tacobellid = toShow._id 
    - let tacobelltype = toShow.tacobell_type 
    - let pricep = toShow.price
    - let quantityq = toShow.quantity
  div 
    div.row 
      div(class='tacobellAttr mr-3') tacobell ID is: 
      div #{tacobellid} 
    div.row 
      div(class='tacobellAttr mr-3') tacobell type is: 
      div #{tacobelltype} 
    div.row 
      div(class='tacobellAttr mr-3') tacobell price is: 
      div #{pricep} 
    div.row 
      div(class='tacobellAttr mr-3') tacobell quantity is: 
      div #{quantityq}